@import './variables.scss';
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope.ttf') format('truetype');
}

button,a{
    outline: none !important;
    box-shadow:none !important;
    text-decoration: none !important;
}
html{
    min-height: 100%;
    display: flex;
    align-items: stretch;
    width: 100%;
}
body,#root{
    background: $bg-fondo;
    display: flex;
    align-items: stretch;
    width: 100%;
    font-family: Manrope;
    font-weight: 500;
}
.bg-fondo{background: $bg-fondo;}

.color1{color:$color1}
.color2{color:$color2}
.color3{color:$color3}
.color4{color:$color4}
.color5{color:$color5}
.color6{color:$color6}

.bg1{background:$color1}
.bg2{background:$color2}
.bg3{background:$color3}
.bg4{background:$color4}
.bg5{background:$color5}
.bg6{background:$color6}

.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}

.layout{
    min-height: 100%;
    overflow: auto;
    #headerPpal{
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        figure{
            img{
                width: 150px;
                display: block;
                margin: 0 auto;
            }
            figcaption{
                font-weight: 900;
            }
        }
        ul{
            list-style: none;
            padding-left: 0;
            display: flex;
            margin-bottom: 0;
            li{
                padding:0 20px;
                a{
                    display: block;
                    padding:5px 0;
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: .03em;
                    color: $color1;
                    position: relative;
                    transition: all .2s ease-in-out;
                    &:after{
                        transition: all .2s ease-in-out;
                        display: block;
                        content: "";
                        height: 2px;
                        width:0%;
                        background: $color5;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                    &:hover,&.active{
                        color: $color5;
                        &:after{width: 100%;}
                    }
                }
            }
        }
    }

    footer{
        padding:20px 0;
        background: $color4;
        color: #fff;
        font-size: 14px;
        text-align: right;
    }

    #wrapUsers{
        .title{
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 40px;
            margin-top: 10px;
            color: $color5;
        }
        .item-user{
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 40px;
            transition: ease-in-out all .2s;
            max-width: 260px;
            margin-left:auto ;
            margin-right:auto ;
            &:hover{
                box-shadow: 0 0 15px rgba(0,0,0,.2);
            }
            figure{
                overflow: hidden;
                img{
                    display: block;
                    max-width: 100%;
                    margin: 0 auto;
                    transition: ease-in-out all .2s;
                    &:hover{
                        transform:scale(1.1);
                    }
                }
            }
            p{
                padding:0 10px;
                margin-bottom: 0;
                color: $color1;
            }
            p.username{
                color: $color4;
                margin: 5px 0 20px;
            }
        }
    }

    #wrapPosts{
        .user{
            figure{
                img{
                    width: 60px;
                }
            }
            &>div{
                padding-left: 20px;
                p{
                    margin-bottom: 5px;
                    font-size: 14px;
                    color:$color4;
                    font-weight: 600;
                    &:last-child{
                        color:$color5;
                    }
                }
            }
        }
        .listPosts{
            margin-top: 40px;
            .item-post{
                background: #fff;
                box-shadow: 0 0 10px rgba(0,0,0,.1);
                border-radius: 4px;
                overflow: hidden;
                margin-bottom: 40px;
                transition: ease-in-out all .2s;
                padding:20px 20px;
                display: flex;
                width: 100%;
                align-items: flex-start;
                flex-direction: column;
                &:hover{
                    box-shadow: 0 0 15px rgba(0,0,0,.2);
                }
                .title{
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .body{
                    font-size: 14px;
                    color: $color7
                }
                a{
                    display: flex;
                    margin-top: auto;
                    font-size: 14px;
                    font-weight: 900;
                }
            }
        }
    }
    #wrapPost{
        .user{
            figure{
                img{
                    width: 60px;
                }
            }
            &>div{
                padding-left: 20px;
                p{
                    margin-bottom: 5px;
                    font-size: 14px;
                    color:$color4;
                    font-weight: 600;
                    &:last-child{
                        color:$color5;
                    }
                }
            }
        }
        .item-post{
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            border-radius: 4px;
            overflow: hidden;
            margin-top: 40px;
            margin-bottom: 40px;
            transition: ease-in-out all .2s;
            padding:20px 20px;
            display: flex;
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            &:hover{
                box-shadow: 0 0 15px rgba(0,0,0,.2);
            }
            .title{
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }
            &>.body{
                font-size: 14px;
                color: $color7
            }
            a{
                display: flex;
                margin-top: auto;
                font-size: 14px;
                font-weight: 900;
            }
            .comments{
                margin-top: 30px;
                .comment{
                    padding: 20px 0 20px 20px;
                    border-bottom: solid 1px #e6e6e6;
                    &:last-child{border-bottom: none;}
                    .name{
                        font-size: 13px;
                        font-weight: 600;
                        color: $color5;
                    }
                    .email{
                        font-size: 12px;
                        font-weight: 600;
                        color: $color4;
                    }
                    .body{
                        font-size: 14px;
                        color: $color7;
                        padding-left: 15px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    #wrap404{
        padding:100px 0;
        position: relative;
        p{
            text-align: center;
            font-size: 50px;
            color: $color7;
        }
        span{
            color: $color7;
            font-size:70px;
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%) rotate(90deg);
        }

    }
}

.btnGeneral{
    background: $color3;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0;
    &:hover{
        color: #fff;
    }
}
.btn{
    span{
        display: block;
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: ease-in-out all .3s;
    }
    &:hover{
        span{
            background: rgba(0,0,0,.1);
        }
    }
}

.wrapInput{
    display: block;
    position: relative;
    label{
        font-size: 12px;
        position: absolute;
        top: 14px;
        left: 17px;
        line-height: 12px;
        background: #fff;
        padding-right: 5px;
        transition: ease-in-out all .3s;
        pointer-events: none;
    }
    input
    {
        width: 100%;
        background: #FFFFFF;
        border: solid 1px #EDF0F4;
        border-radius: 4px;
        padding: 0 15px;
        height: 40px;
        line-height: 38px;
        margin-bottom: 30px;
        color: $color1;
        font-size: 14px;
        outline: none !important;
        box-shadow: none !important;
    }
    input:focus + label,input:not([value=""]) + label{
        top: -6px;
    }
    
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 0ms ease-in-out;
}

@media (max-width:575px){
    .layout #headerPpal{
        figure{
            img{
                width: 100px;
            }
            figcaption{
                font-size: 12px;
            }
        }
        ul{
            li{
                padding: 0 10px;
                a{
                    font-size: 12px;
                }
            }
        }
    } 
}